* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: blue; */
}

aside {
    width: 150px;
    height: 100%;
    background-color: gray;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 60px;
    height: 30px;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
}

span {
    color: white;
}

input {
    margin-right: 20px;
    border-radius: 4px;
    height: 30px;
    padding-left: 20px;
}

main {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

section {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: gray;
    margin-left: 100px;
    
}

@media screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    aside {
        background-color: gainsboro;
        width: 100%;
        height: 100px;
    }

    header div {
        margin-bottom: 20px;
        background-color: gainsboro;
        width: 20px;
        height: 20px;
    }

    span {
        color: black;
        border: 1px solid black;
        background-color: gray;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;

    }

    section div:first-child {
        display: none;
    }

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-right: 80px;
    }
}
    



